[Unit]
Description=Initialize ALC298 internal speaker amps (Samsung Galaxy Book3 Pro 14" / 940XFG)
Documentation=https://github.com/Andycodeman/samsung-galaxy-book-linux-fixes/issues/44
Requires=dev-snd-hwC0D0.device
After=systemd-modules-load.service sound.target dev-snd-hwC0D0.device
Wants=sound.target 

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/alc298-amp-init.sh

[Install]
WantedBy=multi-user.target
